INFLUXDB_USERNAME=network_admin
INFLUXDB_PASSWORD=change_me_secure_password
INFLUXDB_TOKEN=change_me_long_random_token
INFLUXDB_ORG=homelab
INFLUXDB_BUCKET=realtime_metrics

TELEGRAF_CONFIG_PATH=/etc/telegraf_dynamic/telegraf.conf
TELEGRAF_CONTAINER_NAME=adaptive_telegraf
CHECK_INTERVAL=30

SNMP_COMMUNITY=public

GRAFANA_USER=admin
GRAFANA_PASSWORD=change_me_grafana_password
